{% extends 'base.html' %}
{% load tz %}

{% block content %}
  <h2 style="text-align: center">We found something for you :)</h2>
  <div class="article-list">
    {% for article in articles %}
      <div class="article">
        <h3>{{ article.title }}</h3>
        <p>{{ article.body|slice:":160" }}...</p>
      </div>
    {% endfor %}
  </div>
  {% include 'molecula.html' %}
{% endblock %}

<form action="" method="post">{% csrf_token %}

  {% for field in form.fields %}
    {{ field }}
  {% endfor %}
  {#{{ form.fields.email }}#}
  {#{{ form }}#}
  <input type="submit">
  {{ form.as_p }}
  <p>
    <label for="">
      <input type="text" name="">
    </label>
  </p>
  <input type="email">
<texarea name="asfsa"></texarea>

  <select name="" id="" multiple>
    <option value=""></option>
    <option value=""></option>
    <option value=""></option>
    <option value=""></option>
  </select>
</form>

{% block scripts %}
  {{ block.super }}
  <script></script>
{% endblock %}