<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
  <style>
    .search-block {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 80vh;
    }

    .search-block h1 {
      text-align: center;
    }

    .article-list {

    }

    .article {
      border: 1px solid #cccccc;
      padding: 5px;
      margin: 10px;
    }

    article h3 {
      font-weight: bold;
    }
  </style>
</head>
<body>

{% block content %}

{% endblock %}

{% block scripts %}
  <script src=""></script>
{% endblock %}
</body>
</html>